html, body {
    margin: 0px;
    padding: 0px;
}
.bl-purple {
background: #e100ff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #e100ff 0%, #6a0081 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e100ff), color-stop(100%,#6a0081)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #e100ff 0%,#6a0081 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #e100ff 0%,#6a0081 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #e100ff 0%,#6a0081 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #e100ff 0%,#6a0081 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e100ff', endColorstr='#6a0081',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bl-black {
background: #333333; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #333333 0%, #000000 98%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#333333), color-stop(98%,#000000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #333333 0%,#000000 98%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #333333 0%,#000000 98%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #333333 0%,#000000 98%); /* IE10+ */
background: radial-gradient(ellipse at center,  #333333 0%,#000000 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bl-left {
    width:50%;
    height:100%;
    position:absolute;
}
.bl-right {
    position:absolute;
    left:50%;
    width:50%;
    height:100%;
}

.phone {
    height:500px;
    width:auto;
    position: absolute;
    top: calc(50% - 250px);
    left: 50%;
      -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
        -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo {
    width: 75%;
    height: auto;
    position: absolute;
    top: calc(50% + 250px);
    left: 50%;
      -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
        -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

body.page {
    text-align: center;
}